.intro__list{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    max-width: 690px;
}
@media screen and (min-weight: 320px) {
    .intro__list{
      max-width: 228px;
    }
  }
  @media screen and (min-weight: 768px) {
    .intro__list{
      max-width: 720px;
    }
  }