.intro__list{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none;
  margin: 0;
}
@media screen and (min-weight: px) {
    .intro__list{
      max-width: px;
    }
  }
  @media screen and (min-weight: 768px) {
    .intro__list{
      max-width: 720px;
    }
  }