.place__link{
  color: white;
  max-width: 288px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  transition: 1s;
}
.place__link:hover{
  opacity: 0.8;
}

@media screen and (min-width: 768px) { 
  .place__link{
    max-width: 352px;
  }
}
@media screen and (min-width: 1280px) { 
  .place__link{
    max-width: 456px;
  }
}