.lead__image{
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) { 
  .lead__subtitle{
    width: 100%;
  }
}
@media screen and (min-width: 1024px) { 
  .lead__subtitle{
    max-width: 928px;
  }
}
@media screen and (min-width: 1280px) { 
  .lead__subtitle{
    max-width: 984px;
  }
}