.cover__overlay{
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-position:center;
    z-index: 2;
    width: 320px;
    /height: 200px;
    /margin: 66px 0;
}
.cover__overlay:hover{
    opacity: 0.6; 
}

