.intro__text{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  margin: 0 0 34px 0;
}
@media screen and (min-weight: px) {
    .intro__text{
      max-width: px;
    }
  }
  @media screen and (min-weight: 768px) {
    .intro__text{
      max-width: 720px;
    }
  }