.footer{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 186px;
  margin-top: 64px;
}

@media screen and (min-width: 768px) { 
  .footer{
    max-width: 720px;
  }
}
@media screen and (min-width: 1024px) { 
  .footer{
    max-width: 928px;
  }
}
@media screen and (min-width: 1280px) { 
  .footer{
    max-width: 1184px;
  }
}